In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# Exercises Part I

In [7]:
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

### 1. Determine the number of elements in fruits.

### 2. Output only the index from fruits.

### 3. Output only the values from fruits.

### 4. Confirm the data type of the values in fruits.

### 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

### 7. Run the code necessary to produce only the unique string values from fruits.

### 8. Determine how many times each unique string value occurs in fruits.

### 9. Determine the string value that occurs most frequently in fruits.

### 10. Determine the string value that occurs least frequently in fruits.

# Exercises Part II

### 1. Capitalize all the string values in fruits.

### 2. Count the letter "a" in all the string values (use string vectorization).

### 3. Output the number of vowels in each and every string value.

### 4. Write the code to get the longest string value from fruits.

### 5. Write the code to get the string values with 5 or more letters in the name.

### 6. Find the fruit(s) containing the letter "o" two or more times.

### 7. Write the code to get only the string values containing the substring "berry".

### 8. Write the code to get only the string values containing the substring "apple".

### 9. Which string value contains the most vowels?

# Exercises Part III

In [11]:
long_string_series = pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'))

### 1. Which letter occurs the most frequently in the letters Series?

### 2. Which letter occurs the Least frequently?

### 3. How many vowels are in the Series?

### 4. How many consonants are in the Series?

### 5. Create a Series that has all of the same letters but uppercased.

### 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

#### Create new series "numbers"

In [13]:
numbers = pd.Series(    ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
)

### 1. What is the data type of the numbers Series?

### 2. How many elements are in the number Series?

### 3. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

### 4. Run the code to discover the maximum value from the Series.

### 5. Run the code to discover the minimum value from the Series.

### 6. What is the range of the values in the Series?

### 7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

### 8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.